langchain-chroma
chromadb
flask
GitPython
python-dotenv
langchain 
langchain-community 
langgraph 
pydantic 
langsmith
sentence-transformers
langchain-huggingface
langchain-groq
langchain-core
langchain-text-splitters

-e .