<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GitHub Repository Analyzer</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="app-container">

    <div class="header">

        <h1>
            <i class="fa-brands fa-github"></i>
            GitHub Repository Analyzer
        </h1>

        <p>
            Analyze Any GitHub Repository using
            Groq + LangChain + ChromaDB
        </p>

    </div>

    <div class="repo-card">

        <input
                type="text"
                id="repo-url"
                placeholder="Enter GitHub Repository URL..."
        >

        <button id="indexRepo">

            <i class="fa-solid fa-database"></i>

            Index Repository

        </button>

    </div>

    <div id="repo-status"></div>

    <div class="chat-card">

        <div id="chat-window"></div>

        <form id="chat-form">

            <input
                    type="text"
                    id="message"
                    placeholder="Ask anything about the repository..."
                    autocomplete="off"
            >

            <button type="submit">

                <i class="fa-solid fa-paper-plane"></i>

            </button>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>